/* Universal Selector */
/* * {
    color: brown;
} */

* text-node.hidden {
    display: none; */
    /* Cache complètement les nœuds texte */
}
section>ul>li {
    background-color: rgb(53, 212, 53);
}

h3{
    color: rgb(218, 137, 14);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: #DA890E;
    text-decoration: underline rgb(218, 137, 14);
}
h1+h4 {
    background-color: rgb(178, 178, 248);
}
a[href="#"] {
    color: purple;
    font-weight: bold;
    font-style: italic;
}

footer p {
    background-color: rgb(245, 211, 211);
}
pre>ul>li {
    background-color: white;
}

button {
    background-color: black;
    color: white;
}

button:hover {
    background-color: yellow;
    color: rgb(125, 45, 33);
}